<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <img src="https://www.cincatarina.sc.gov.br/images/cincatarina/logo-light.png"
    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  <a></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Consultar Pessoa</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/pessoa-fisica">Pessoa Física</a>
          <a class="dropdown-item" routerLink="/pessoa-juridica">Pessoa Jurídica</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Materiais & Servicos</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/materiais">Materiais</a>
          <a class="dropdown-item" routerLink="/servicos">Servicos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pontos/">Pontos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Acesso Sistema</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/usuarios">Cadastrar Usuario</a>
        </div>
      </li>
    </ul>
    <button type="button" routerLink="/login" class="btn btn-link">Sair</button>
  </div>
</nav>

<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>


<div class="container mt-4">
  <span class="titulo">Cadastro de Materiais</span>
  <hr class="mb-4">

  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <button class="btn btn-success ml-2" data-toggle="modal" data-target="#modal">Adicionar</button>

      <br><br>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" (input)="carregar($event.target.value)"
          (change)="this.textoBuscar = $event.target.value" placeholder="Pesquisar" aria-label="Pesquisar">
        <a (click)="carregar(this.textoBuscar)" class="btn btn-outline-info my-2 my-sm-0"><i
            class="fas fa-search"></i></a>
      </form>

    </div>
    <!-- <div class="col-sm">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" (input)="carregar($event.target.value)"
          (change)="this.textoBuscar = $event.target.value" placeholder="Pesquisar" aria-label="Pesquisar">
        <a (click)="carregar(this.textoBuscar)" class="btn btn-outline-info my-2 my-sm-0"><i
            class="fas fa-search"></i></a>
      </form>

    </div> -->

  </div>



  <table class="table table-striped ml-2">
    <tr>
      <td><b>COD LCIN</b></td>
      <td><b>Unidade Medida</b></td>
      <td><b>Descricao</b></td>
      <td><b>Quantidade</b></td>
      <td><b>Custo Unit R$</b></td>
      <td><b>Marca</b></td>
      <td><b>Ações</b></td>
    </tr>
    <tr *ngFor="let dado of lista | paginate: { itemsPerPage: 8, currentPage: paginaAtual }; let i = index">

      <td>{{dado.cod_lcin}}</td>
      <td>{{dado.unidade}}</td>
      <td>{{dado.descricao}}</td>
      <td>{{dado.quantidade}}</td>
      <td>R${{dado.custoUnit}}</td>
      <td>{{dado.marca}}</td>
      <td>
        <a (click)="dadosEditar(dado.cod_lcin, dado.descricao, dado.unidade, dado.quantidade, dado.custoUnit,
         dado.marca, dado.matManutencao, dado.idMaterial)" data-toggle="modal" data-target="#modal"
          title="Editar Registro"><i class="fas fa-info-circle text-info mr-2"></i></a>
        <a (click)="excluir(dado.idMaterial)" title="Excluir Registro"><i class="far fa-trash-alt text-danger"></i></a>

      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="paginaAtual = $event" maxSize="7" previousLabel="Anterior" nextLabel="Próximo">
  </pagination-controls>
</div>




<!--CONTEUDO DA JANELA MODAL DE INSERIR-->
<!--CONTEUDO DA JANELA MODAL DE INSERIR-->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" routerLink="/materiais" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#infBasicas" role="tab" aria-controls="infBasicas">Inf.
              Básicas</a>
          </li>




          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#observacoes" role="tab"
              aria-controls="observacoes">Observacoes</a>
          </li>
        </ul>
        <!--Inf. do Sub-Menu -->
        <div class="tab-content">
          <div class="tab-pane active" id="infBasicas" role="tabpanel">
            <div class="modal-header">
              <h6 class="modal-title"><strong>Informações Básicas</strong></h6>
            </div>
            <br>

            <div class="form-group">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">COD LCIN</label>
                  <input type="text" class="form-control" (input)="this.cod_lcin = $event.target.value"
                    value="{{cod_lcin}}" placeholder="Ex. 10949">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Unidade de Medida</label>
                  <select class="custom-select mr-sm-2" id="unidade" (input)="this.unidade = $event.target.value"
                    value="{{unidade}}">
                    <option value="Unidade">Unidade</option>
                    <option value="Metros">Metros</option>
                    <option value="KG">KG</option>
                  </select>


                </div>

              </div>
              <label for="exampleInputEmail1">Descrição</label>
              <textarea (input)="this.descricao = $event.target.value" value="{{descricao}}" class="form-control"
                name="" id="" cols="95" rows="4"></textarea>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Quantidade</label>
                <input type="number" class="form-control" (input)="this.quantidade = $event.target.value"
                  value="{{quantidade}}" placeholder="Quantidade do Material">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Marca</label>
                <input type="text" class="form-control" (input)="this.marca = $event.target.value" value="{{marca}}"
                  placeholder="Marca Produto">
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Custo Unitário R$</label>
                <input type="text" class="form-control" (input)="this.custoUnit = $event.target.value"
                  value="{{custoUnit}}" placeholder="Ex: 1.250,25">
              </div>
              <div class="form-group col-md-6">
                <div class="custom-control form-control-lg custom-checkbox">
                  <br>
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Material de Manutenção</label>
                </div>


              </div>

            </div>

            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Imagem do Material</label>
            </div>

          </div>




          <div class="tab-pane" id="observacoes" role="tabpanel">
            <div class="modal-header">
              <h6 class="modal-title"><strong>Observações</strong></h6>
            </div>
            <br>
            <div class="form-group">
              <textarea (input)="this.observacoes = $event.target.value" value="{{observacoes}}" class="form-control"
                name="" id="" cols="95" rows="7"></textarea>
            </div>
          </div>


        </div>

        <script>
          $(function () {
            $('#myTab a:last').tab('show')
          })
        </script>

        <div class="modal-footer">
          <button *ngIf="idMaterial === '' " type="button" class="btn btn-primary" routerLink="/materiais.html"
            (click)="cadastrar()">Salvar</button>



          <button *ngIf="idMaterial > '0' " type="button" class="btn btn-primary" routerLink="/materiais.html"
            (click)="editar()">Editar</button>



          <button type="button" class="btn btn-secondary" routerLink="/materiais.html"
            data-dismiss="modal">Fechar</button>

        </div>

      </div>
    </div>
  </div>