<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <input name="phone" [textMask]="{mask: phoneMask}" type="text"/>-->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.cincatarina.sc.gov.br/images/Fecam/cincatarina.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input name="cpf" placeholder="Digite seu CPF" [textMask]="{mask: cpfMask}" type="text" />
      <input type="text" id="password" class="fadeIn third" name="senha" placeholder="Digite sua Senha"
        (input)="this.senha = $event.target.value">
      <a class="fadeIn fourth" style="color:white;" (click)="login(this.usuario, this.senha)">Acessar </a>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <input type="submit" class="fadeIn fourth" value="ESQUECEU SUA SENHA ?">
    </div>

  </div>
</div>