<!-- Toolbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <img src="https://www.cincatarina.sc.gov.br/images/cincatarina/logo-light.png"
    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  <a></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Consultar Pessoa</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/pessoa-fisica">Pessoa Física</a>
          <a class="dropdown-item" routerLink="/pessoa-juridica">Pessoa Jurídica</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Materiais & Serviços</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/materiais">Materiais</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Acesso Sistema</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/usuarios">Cadastrar Usuario</a>
        </div>
      </li>
    </ul>
    <button type="button" routerLink="/login" class="btn btn-link">Sair</button>
  </div>
</nav>



<div class="container mt-4">
  <span class="titulo">Painel Pessoa Física</span>
  <hr class="mb-4">

  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <button class="btn btn-success ml-2" data-toggle="modal" data-target="#modal">Adicionar</button>

      <br><br>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" (input)="carregar($event.target.value)"
          (change)="this.textoBuscar = $event.target.value" placeholder="Pesquisar" aria-label="Pesquisar">
        <a (click)="carregar(this.textoBuscar)" class="btn btn-outline-info my-2 my-sm-0"><i
            class="fas fa-search"></i></a>
      </form>

    </div>
    <!-- <div class="col-sm">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" (input)="carregar($event.target.value)"
          (change)="this.textoBuscar = $event.target.value" placeholder="Pesquisar" aria-label="Pesquisar">
        <a (click)="carregar(this.textoBuscar)" class="btn btn-outline-info my-2 my-sm-0"><i
            class="fas fa-search"></i></a>
      </form>

    </div> -->

  </div>



  <table class="table table-striped ml-2">
    <tr>
      <td><b>ID PF</b></td>
      <td><b>Nome</b></td>
      <td><b>CPF</b></td>
      <td><b>Cidade</b></td>
      <td><b>E-mail</b></td>
      <td><b>Telefone</b></td>
      <td><b>Ações</b></td>
    </tr>
    <tr *ngFor="let dado of lista">

      <td>{{dado.idPFisica}}</td>
      <td>{{dado.nome}}</td>
      <td>{{dado.cpf}}</td>
      <td>{{dado.cidade}}</td>
      <td>{{dado.email}}</td>
      <td>{{dado.telFixo}}</td>
      <td>
        <a (click)="dadosEditar(dado.nome, dado.cpf, dado.rg, dado.sexo,
         dado.dataNascimento, dado.estadoCivil, dado.cep, dado.endereco,
         dado.complemento, dado.cidade, dado.bairro, dado.uf, dado.celular,
          dado.telFixo, dado.email, dado.observacoes,
           dado.idPFisica)" data-toggle="modal" data-target="#modal" title="Editar Registro"><i
            class="fas fa-info-circle text-info mr-2"></i></a>
        <a (click)="excluir(dado.idPFisica)" title="Excluir Registro"><i class="far fa-trash-alt text-danger"></i></a>
      </td>
    </tr>
  </table>

</div>




<!--CONTEUDO DA JANELA MODAL DE INSERIR-->
<!--CONTEUDO DA JANELA MODAL DE INSERIR-->
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" routerLink="/pessoa-fisica" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#infBasicas" role="tab" aria-controls="infBasicas">Inf.
              Básicas</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#endereco" role="tab" aria-controls="endereco">Endereço</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#contato" role="tab" aria-controls="contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#observacoes" role="tab"
              aria-controls="observacoes">Observacoes</a>
          </li>
        </ul>
        <!--Inf. do Sub-Menu -->
        <div class="tab-content">
          <div class="tab-pane active" id="infBasicas" role="tabpanel">
            <div class="modal-header">
              <h6 class="modal-title"><strong>Informações Básicas</strong></h6>
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputEmail1">Nome</label>
              <input type="text" class="form-control" (input)="this.nome = $event.target.value" value="{{nome}}"
                aria-describedby="emailHelp" placeholder="Nome" required />
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">CPF</label>
                <input type="text" class="form-control" [textMask]="{mask: cpfMask}"
                  (input)="this.cpf = $event.target.value" value="{{cpf}}" placeholder="CPF">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">RG</label>
                <input type="text" class="form-control" [textMask]="{mask: rgMask}"
                  (input)="this.rg = $event.target.value" value="{{rg}}" placeholder="RG">
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCEP">Sexo</label>
                <select (input)="this.sexo = $event.target.value" value="{{sexo}}" class="form-control">
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                  <option value="Outros">Outros</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Data Nascimento</label>
                <input type="text" class="form-control" [textMask]="{mask: dtNascimentoMask}"
                  (input)="this.dataNascimento = $event.target.value" value="{{dataNascimento}}"
                  placeholder="Data Nascimento">
              </div>

            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Estado Cívil</label>
              <input type="text" class="form-control" (input)="this.estadoCivil = $event.target.value"
                value="{{estadoCivil}}" aria-describedby="emailHelp" placeholder="Estado Cívil" required />
            </div>
          </div>
          <div class="tab-pane" id="endereco" role="tabpanel">
            <div class="modal-header">
              <h6 class="modal-title"><strong>Endereço</strong></h6>
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputEmail1">Endereço</label>
              <input type="text" class="form-control" (input)="this.endereco = $event.target.value" value="{{endereco}}"
                aria-describedby="emailHelp" placeholder="Endereço" required />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Complemento</label>
              <input type="text" class="form-control" (input)="this.complemento = $event.target.value"
                value="{{complemento}}" aria-describedby="emailHelp" placeholder="Complemento" />
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Cidade</label>
                <input type="text" class="form-control" (input)="this.cidade = $event.target.value" value="{{cidade}}"
                  placeholder="Cidade">
              </div>
              <div class="form-group col-md-4">
                <label for="inputEstado">Bairro</label>
                <input type="text" class="form-control" (input)="this.bairro = $event.target.value" value="{{bairro}}"
                  aria-describedby="emailHelp" placeholder="Bairro" required />
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col-md-4">
                <label for="inputEstado">CEP</label>
                <input type="text" class="form-control" [textMask]="{mask: cepMask}"
                  (input)="this.cep = $event.target.value" value="{{cep}}" aria-describedby="emailHelp"
                  placeholder="CEP" required />
              </div>
              <div class="form-group col-md-2">
                <label for="inputCEP">UF</label>
                <select (input)="this.uf = $event.target.value" value="{{uf}}" class="form-control">
                  <option selected>UF</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>
            </div>


          </div>
          <div class="tab-pane" id="contato" role="tabpanel">
            <div class="modal-header">
              <h6 class="modal-title"><strong>Contato</strong></h6>
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputEmail1">E-mail</label>
              <input type="email" class="form-control" (input)="this.email = $event.target.value" value="{{email}}"
                aria-describedby="emailHelp" placeholder="E-mail" required />
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Telefone Fixo</label>
                <input type="text" class="form-control" (input)="this.telFixo = $event.target.value" value="{{telFixo}}"
                  [textMask]="{mask: telFixoMask}" placeholder="Telefone Fixo">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Celular</label>
                <input type="text" (input)="this.celular = $event.target.value" value="{{celular}}" class="form-control"
                  placeholder="Celular">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="observacoes" role="tabpanel">
            <div class="modal-header">
              <h6 class="modal-title"><strong>Observações</strong></h6>
            </div>
            <br>
            <div class="form-group">
              <textarea (input)="this.observacoes = $event.target.value" value="{{observacoes}}" class="form-control"
                name="" id="" cols="95" rows="7"></textarea>
            </div>
          </div>


        </div>

        <script>
          $(function () {
            $('#myTab a:last').tab('show')
          })
        </script>






        <div class="modal-footer">
          <button *ngIf="idPFisica === '' " type="button" class="btn btn-primary" routerLink="/pessoa-fisica"
            (click)="cadastrar()">Salvar</button>

          <button *ngIf="idPFisica > '0' " type="button" class="btn btn-primary" routerLink="/pessoa-fisica"
            (click)="editar()">Editar</button>

          <button type="button" class="btn btn-secondary" routerLink="/pessoa-fisica"
            data-dismiss="modal">Fechar</button>

        </div>

      </div>
    </div>
  </div>