<div class="container mt-4">
    <span class="titulo">API de Usuários</span>
    <hr class="mb-4">
    
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
        <button class="btn btn-success ml-2" data-toggle="modal" data-target="#modal">Adicionar</button>
      <br><br>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search"
        (input)="carregar($event.target.value)"
        (change)="this.textoBuscar = $event.target.value"
        placeholder="Pesquisar" aria-label="Pesquisar">
        <a (click)="carregar(this.textoBuscar)" class="btn btn-outline-info my-2 my-sm-0" ><i class="fas fa-search"></i></a>
      </form>
      </div>
    
    </div>
    


<table class="table table-striped ml-2">
    <tr>
        <td><b>Nome</b></td>
        <td><b>Login</b></td>
        <td><b>Senha</b></td>
        <td><b>Ações</b></td>
    </tr>
    <tr *ngFor="let dado2 of lista">

        <td>{{dado2.nome}}</td>
        <td>{{dado2.login}}</td>
        <td>{{dado2.senha}}</td>
        <td>
            <a (click)="dadosEditar(dado2.nome, dado2.login, dado2.senha, dado2.idUser)" data-toggle="modal" data-target="#modal" title="Editar Registro"><i class="far fa-edit text-info mr-2"></i></a>
      <a (click)="excluir(dado2.idUser)" title="Excluir Registro"><i class="far fa-trash-alt text-danger"></i></a>
  </td>
</tr>
</table>

</div>




<!--CONTEUDO DA JANELA MODAL DE INSERIR-->
<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" onClick="window.location.reload();" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">


                <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="text" class="form-control"
                    (input)="this.nome = $event.target.value" aria-describedby="emailHelp"
                    value="{{nome}}" placeholder="Digite seu nome" required />

                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Login</label>
                    <input type="text" class="form-control"
                    (input)="this.login = $event.target.value" aria-describedby="emailHelp"
                    value="{{login}}" placeholder="Digite seu Login" required />

                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input type="password" class="form-control" (input)="this.senha = $event.target.value"
                  value="{{senha}}"
                  placeholder="Digite uma senha"  required />
                </div>

        </div>
        <div class="modal-footer">
            <button *ngIf="idUser === '' " type="button" class="btn btn-primary" (click)="cadastrar()">Salvar</button>

            <button *ngIf="idUser > '0' " type="button" class="btn btn-primary" (click)="editar()">Editar</button>

          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Fechar</button>

        </div>

      </div>
      
    </div>

  </div>